/* HEADER */
    #APlogo {
    text-align: center;
    width: 150px;
    align-content: flex-start;
    }
    
    .redes{
        width: 50px;
    }
    
    #social{
        float: right;
        align-items: center;
        margin: 0px;  
        padding-right: 30px;
    }

    a {
        padding: 2px;
     }
    