<!--Contenedor de Header del porfolio -->
<div class="row">
    <div class="col-xs-12 col-sm-4 border" >
       <img src="assets/APLogo.png" id="APlogo"> 
    </div>
   <div class="col-xs-12 col-sm-8 border d-flex justify-content-end" id="social">
        <div>
            <a href="#"><img src="assets/facebook.png" class="redes"></a>
            <a href="#"><img src="assets/instagram.png" class="redes"></a>
            <a href="#"><img src="assets/github.png" class="redes"></a>
            <a href="#"><img src="assets/linkedin.png" class="redes"></a>
            <a href="#"><button type="button" class="btn btn-light">LOGIN</button></a>
            
        </div>                           
   </div>                     
</div> 

<!--Contenedor de Banner del porfolio  -->
<div class="row" id="banner">
<img src="assets/banner1.jpg" class="" width="width-max">
</div>

