<!--Contenedor de Perfil del porfolio -->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="assets/WhatsApp Image 2022-04-18 at 16.55.58.jpeg" class="d-flex justify-content-center" id="foto-perfil" width="max-width" > 
       <div class="btn-edit">
           <a href="#" class="btn-rigth"><i class="fa-solid fa-pen" id="btn-edit-foto"></i></a>
       </div>           
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 title-perfil">
        <p id="nombre">Sasso Aragon Gimena</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="info-perfil">
        <h2>Acerca de mi:</h2>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, facilis veritatis eos at expedita rerum? Sequi dicta consequatur in, fugit iusto voluptas ullam aliquid tenetur laboriosam, corporis sit est accusantium.
        </span>
    </div>
</div>
