
/* ESTILOS GENERALES PARA PANTALLAS GRANDES*/

@media (min-width:576px) {

h2 {
    margin: 0px;
    display: inline-flex;
    justify-items: center;
    padding: 0px 10px;
       
}

.btn-edit-add {
    margin: 0px;
    display: inline-flex;
    justify-items: center;
    
}

.data-container {
    display: flex;
    margin: 10px 20px;
    padding: 20px;

}

.img-experiencia {   
    width: 180px;
    height: 180px;
    align-items: center;
    z-index: 1;
    box-sizing: content-box;
    border-radius: 50%;
   
}

.list-info{
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    padding: 0px;
   
}

.data-control{
  
    display: inline;
    color: black;      
}

.btn-edit-experiencia {
    align-items: stretch;
    justify-content: space-between;
    color: black;
}

}

@media (max-width:575px) {
    h2 {
        margin: 0px;
        display: inline-flex;
        justify-items: center;
        padding: 0px 10px;
           
    }
    .btn-edit-add {
        margin: 0px;
        display: inline-flex;
        justify-items: center;
        
    }

    .img-experiencia {   
        width: 100px;
        height: 100px;
        align-items: center;
        z-index: 1;
        box-sizing: content-box;
        border-radius: 50%;
        margin: 30px 75px;
       
    }

    .data-control{
        display: inline;
        color: black;       
    }
    
    .btn-edit-experiencia {
        align-items: stretch;
        justify-content: center;
        justify-content: space-between;
        color: black;
    }
}