<div class="row">
    <div class="title col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Experiencia Laboral</h2>
    </div>
    <div class="btn-edit-add  col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
        <a href="#" id="btn-edit-add"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div>
        <ul class="item-list">
            <li>
            <div class="data-container">                    
                    <div class="logo-image-container col-xs-12 col-sm-2 col-md-2 col-lg-2 d-flex">
                        <img src="assets/kleppe.jpg" alt="" class="img-experiencia" width="max-width">
                        <a href=""></a>
                    </div>
                    <div class="list-info col-xs-12 col-sm-8 col-md-8 col-lg-8">                                
                            <h3>Control de Calidad</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore doloremque eligendi eveniet minus, suscipit, rerum itaque fuga a sapiente voluptate corrupti omnis. Quos asperiores et molestiae aliquid neque laboriosam fuga.</p>
                            <p><time>years</time> - <time>years</time></p>
                    </div>
                    <div class="data-control col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="btn-edit-experiencia">
                            <a href="#"><i class="fa fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>                       
            </div>
            
            </div>                       
            </li>
            <li>
                <div class="data-container">                    
                    <div class="logo-image-container col-xs-12 col-sm-2 col-md-2 col-lg-2 d-flex">
                            <img src="assets/starcel.jpg" alt="" class="img-experiencia" width="max-width">
                    </div>
                    <div class="list-info col-xs-12 col-sm-8 col-md-8 col-lg-8">        
                        <h3>Vendedora - Manejo de Caja</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore doloremque eligendi eveniet minus, suscipit, rerum itaque fuga a sapiente voluptate corrupti omnis. Quos asperiores et molestiae aliquid neque laboriosam fuga.</p>
                        <p><time>years</time> - <time>years</time></p>    
                    </div>
                    <div class="data-control col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="btn-edit">
                            <a href="#"><i class="fa fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>                    
            </li>
            <li>
                <div class="data-container">                    
                    <div class="logo-image-container col-xs-12 col-sm-2 col-md-2 col-lg-2 d-flex">
                        <img src="../assets/hpn.png" alt="" class="img-experiencia" width="max-width">
                    </div>
                    <div class="list-info col-xs-12 col-sm-8 col-md-8 col-lg-8">                                       
                        <h3>Telefonista - Radioperadora</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore doloremque eligendi eveniet minus, suscipit, rerum itaque fuga a sapiente voluptate corrupti omnis. Quos asperiores et molestiae aliquid neque laboriosam fuga.</p>
                        <p><time>years</time> - <time>years</time></p>                                      
                    </div>
                    <div class="data-control col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="btn-edit">
                            <a href="#"><i class="fa fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>       
                </div>
                    
                        
            </li>
        </ul>
    </div>
</div>    
