<div class="row">
    <div class="title col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Educación</h2>
    </div>
    <div class="btn-edit-add  col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
        <a href="#" id="btn-edit-add"><i class="fa-solid fa-plus"></i></a>
    </div>       
    <div>
        <ul class="item-list">
            <li>
                    <div class="data-container">
                        <div class="list-info col-xs-12 col-sm-10 col-md-10 col-lg-10">                                
                            <h2>Tecnica Agronoma con Orientacion en Produccion Animal</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore doloremque eligendi eveniet minus, suscipit, rerum itaque fuga a sapiente voluptate corrupti omnis. Quos asperiores et molestiae aliquid neque laboriosam fuga.</p>
                            <p><time>years</time> - <time>years</time></p>
                        </div>
                        <div class="data-control col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-edit-experiencia">
                            <a href="#"><i class="fa fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>                       
                        </div> 
                    </div>                                                                 
            </li>
            <li>
                    <div class="data-container">                    
                        <div class="list-info col-xs-12 col-sm-10 col-md-10 col-lg-10">        
                            <h2>Tecnica en Control e Higiene de Alimentos</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore doloremque eligendi eveniet minus, suscipit, rerum itaque fuga a sapiente voluptate corrupti omnis. Quos asperiores et molestiae aliquid neque laboriosam fuga.</p>
                            <p><time>years</time> - <time>years</time></p>    
                        </div>
                        <div class="data-control col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-edit">
                                <a href="#"><i class="fa fa-pen"></i></a>
                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>        
            </li>
            <li>
                    <div class="data-container">                    
                        <div class="list-info col-xs-12 col-sm-10 col-md-10 col-lg-10">                                       
                            <h2>Radioperadora de Emergencias</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore doloremque eligendi eveniet minus, suscipit, rerum itaque fuga a sapiente voluptate corrupti omnis. Quos asperiores et molestiae aliquid neque laboriosam fuga.</p>
                            <p><time>years</time> - <time>years</time></p>                                      
                        </div>
                        <div class="data-control col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-edit">
                                <a href="#"><i class="fa fa-pen"></i></a>
                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>       
                    </div>               
            </li>
        </ul>
    </div>
</div>    
