::before{
    margin: 0px;
    padding: 0px;
}

main {   
    background-color: #8395ba;
    font-family:'Libre Baskerville', serif;
    }

    i {
        color: black;
        height: 10px;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        
    }